<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <connectionStrings>
    <!--测试项目数据库链接-->
    <add name="UTopConnectionString" connectionString="Data Source=.;Initial Catalog=Utop_New;User ID=sa;Password=master" providerName="System.Data.SqlClient" />
    <!--主数据库链接-->
    <add name="MySqlConnection" connectionString="Data Source=.;Initial Catalog=LGDB;User ID=sa;Password=master" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="metaExchange" name="MainControl.TestDataServer">
        <endpoint address="MainControl" binding="netTcpBinding" bindingConfiguration="NoneSecurity" contract="MainControl.ITestDataServer" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.0.203:18404/TestDataServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--定义行为-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaExchange">
          <dataContractSerializer ignoreExtensionDataObject="true" />
          <serviceMetadata httpGetEnabled="False" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="NoneSecurity" maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.100:9010/Service1.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IService1" contract="SJ_Ser.IService1" name="WSDualHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
